# Izvršni fajlovi (binaries)
a.out
*.out
test_map
main

# Objektni fajlovi
*.o
*.obj

# Valgrind i Debug fajlovi
vgcore.*
*.dSYM/
valgrind-out.txt

# Arhive
*.a
*.so
*.dll

# OS specifični fajlovi
.DS_Store
Thumbs.db

# CMake privremeni fajlovi i build folder
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
